$main-dark-color: #212923;
$main-light-color: white;
$gray-color: #777c78;
$container-inline-size: 1200px;
$container-inline-padding: 15px;
$scroll-thumb-color: #b7b9b7;
$scroll-thumb-hover-color: #9a9a9a;
$error-color: #ff0000;
$background-modal: #4d49494d;
